<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Physi Editor</title>
		<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
		<style>
		body {
			background-image: url('https://c1.staticflickr.com/8/7065/6812184802_ecc30236f2_b.jpg');
			background-size: cover;
			margin: 0;
			overflow: hidden;
			font-family: 'Julius Sans One', sans-serif;
			color: white;
			cursor: copy;
		}
		#palette {
			background-color: #444;
			display: inline-block;
			padding: 15px;
			position: fixed;
			height: 95%;
		}
		#toggle-palette {
			cursor: pointer;
			width: 50px;
			float: right;
			right: 15px;
		}
		.jscolor {
			border: 0;
			width: 55px;
			cursor: pointer;
			text-align: center;
		}
		input[type=number] {
			border: 0;
			width: 55px;
			cursor: pointer;
			background-color: #222;
			color: white;
			text-align: center;
		}
		#modify-alpha {
			width: 60px;
		}
		#geometries {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 100px;
			margin-left: -50px;
		}
		</style>
	</head>
	<body>
		<div id="palette">
			<img src="images/show-menu-icon.png" id="toggle-palette">
			<br>Wireframe: <input type="checkbox" id="modify-wireframe">
			<br>
			<br>Color
				<br>&emsp;RGB: <input class="jscolor" id="modify-color">
				<br>&emsp;&alpha;: <input type="number" min="0" max="1" step="0.05" id="modify-alpha">
			<br>
			<br>Size <span id="modify-size">
				<br>&emsp;X: <input type="number">
				<br>&emsp;Y: <input type="number">
				<br>&emsp;Z: <input type="number">
			</span>
			<br>
			<br>Position <span id="modify-position">
				<br>&emsp;X: <input type="number">
				<br>&emsp;Y: <input type="number">
				<br>&emsp;Z: <input type="number">
			</span>
			<br>
			<br>Rotation <span id="modify-rotation">
				<br>&emsp;X: <input type="number">
				<br>&emsp;Y: <input type="number">
				<br>&emsp;Z: <input type="number">
			</span>
			<br>
			<br>Mass: <input type="number" min="0" id="modify-mass">


			<select id="geometries" value="cylinder">
				<option value="box">Box</option>
				<option value="sphere">Sphere</option>
				<option value="cylinder">Cylinder</option>
				<option value="cone">Cone</option>
				<option value="capsule" selected>Capsule</option>
			</select>
		</div>


		<script src="javascripts/lib/jscolor.js"></script>
		<script src="javascripts/lib/three.js"></script>
		<script src="javascripts/lib/physi.js"></script>
		<script src="javascripts/lib/FirstPersonControls.js"></script>
		<script src="javascripts/lib/jquery.js"></script>

		<script src="javascripts/mesh.js"></script>
		<script src="javascripts/palette.js"></script>
		<script src="javascripts/environment.js"></script>
		<script src="javascripts/graphics.js"></script>
	</body>
</html>